*{
    font-family: "exo 2,sans serif";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
 
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#ffff;
    --main-color:#a21caf;
}
.body{
    background-color: var(--bg-color);
    height: 100vh;
   
}
.header{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding: 0px 50px;
    background-color: var(--second-bg-color);
    height: 70px;
    min-height: 70px;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    
}
.headerLinks ol{
    display: flex;
    gap: 15px;
    color: var(--text-color);
    height: 50px;
    align-items: center;
    margin-bottom: 0px !important;
}
.headerLinks ol li{
  
   height: 50px;
    align-items: center;
    display: flex;
}
.headerLinks ol a{
    display: flex;
    color: var(--text-color);
    height: 50px;
    align-items: center;
    list-style: none;
    text-decoration: none   ;
  
}
.headerLinks ol a:hover{
    transform: translateY(-5px);
    color: var(--main-color);
    transition: all 0.3s;

}
.header div a{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none   ;
}
.header div a:hover{
    color:white;
    transition:color 0.3s;
  
}
.header div a{
    letter-spacing: 5px;
}
.leftSide{
    color: var(--text-color);
    position: relative;;
   
}
.leftSide h2,h1,h3{
    color: var(--text-color);
    font-size: 5.5rem;
   
}


.sectionOne{
    height: 92.94%;
    box-sizing: border-box;
    display: flex;
    align-items: center ;
    color: var(--text-color);
    
}
.frontSpan{
    animation: showSpan 2.5s infinite linear ;
    -webkit-animation: showSpan 2.5s infinite linear ;
}


.sectionOne div{
height: 100%;
}
@keyframes titleChange {
    0%{
        color: rgb(153, 153, 153);
    }
    50%{
        color: var(--main-color);
    }
    75%{
        color: rgb(197, 12, 73);

    }
    100%{
        color: rgb(153, 153, 153);
    }
}

.title{
    animation: titleChange 5s  infinite ;
    -webkit-animation: titleChange 5s  infinite ;
}
.together{
    color: var(--main-color);
    position: relative;
}
.frontSpan{
    position: absolute;
    width: 0%;
    color: transparent;
    height: 100%;
    background-color: var(--main-color);
    background-clip: text;
    top: 0;
    left: 0;
    font-weight: bolder;
}
.developer{
    margin-left: 7.4rem;
    color: var(--text-color);
}
@keyframes showSpan {
    0%{
        width: 0%;
    }
    25%{
        width: 50%;
       color: white;
    }
    50%{
        width: 100%;
        color: rgb(224, 166, 166);
    }
    75%{
        width: 50%;
        
    }
    100%{
        width: 0%;
    }
}
.rightSide img{
   height: 80%;
   position: relative;
   box-shadow: -37px 1px 32px 0px rgba(162,28,175,1);
}
.backgroundRight{
    width: 100%;
    height: 100%;
    background-color: var(--main-color );
    position: absolute;
    z-index: -1;
    clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
}

.borders{
   border: solid 1px var(--main-color);
   padding: 10px;
   margin-right: 30px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.me{
    font-weight: bolder;
    color: var(--main-color);
}

.sectionTwo{
    height: 92.94%;
    box-sizing: border-box;
    display: flex;
    align-items: center ;
    color: var(--text-color);
    justify-content: center;
    
}
.aboutMe h2,h3{
    font-weight: bolder;
   font-size: 56px;
}

.aboutMe p{
    line-height: 30px;
}
.leftAnimation img{
    width: 75%;

}
.leftBackground{
    width: 65%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
    border: solid 4px white;
    border-radius: 30% 70% 10% 40% / 10% 35% 25% 70%;
  
}

@keyframes moveBorder{
0%,100%{
    border-radius:70% 100% 40% 80% /90% 70% 30% 90% ;
    -webkit-border-radius:70% 100% 40% 80% /90% 70% 30% 90% ;
    -moz-border-radius:70% 100% 40% 80% /90% 70% 30% 90% ;
    -ms-border-radius:70% 100% 40% 80% /90% 70% 30% 90% ;
    -o-border-radius:70% 100% 40% 80% /90% 70% 30% 90% ;
}
10%{
    border-radius:80% 120% 50% 90% / 60% 80% 40% 100% ;
    -webkit-border-radius:80% 120% 50% 90% / 60% 80% 40% 100% ;
    -moz-border-radius:80% 120% 50% 90% / 60% 80% 40% 100% ;
    -ms-border-radius:80% 120% 50% 90% / 60% 80% 40% 100% ;
    -o-border-radius:80% 120% 50% 90% / 60% 80% 40% 100% ;
}
20%{
    border-radius:110% 150% 60% 100% / 110% 90% 50% 110% ;
    -webkit-border-radius:110% 150% 60% 100% / 110% 90% 50% 110% ;
    -moz-border-radius:110% 150% 60% 100% / 110% 90% 50% 110% ;
    -ms-border-radius:110% 150% 60% 100% / 110% 90% 50% 110% ;
    -o-border-radius:110% 150% 60% 100% / 110% 90% 50% 110% ;
}
30%{
    border-radius:120% 160% 60% 80% / 120% 100% 60% 90% ;
    -webkit-border-radius:120% 160% 60% 80% / 120% 100% 60% 90% ;
    -moz-border-radius:120% 160% 60% 80% / 120% 100% 60% 90% ;
    -ms-border-radius:120% 160% 60% 80% / 120% 100% 60% 90% ;
    -o-border-radius:120% 160% 60% 80% / 120% 100% 60% 90% ;
}
40%{
    border-radius:160% 110% 70% 90% / 40% 100% 70% 100% ;
    -webkit-border-radius:160% 110% 70% 90% / 40% 100% 70% 100% ;
    -moz-border-radius:160% 110% 70% 90% / 40% 100% 70% 100% ;
    -ms-border-radius:160% 110% 70% 90% / 40% 100% 70% 100% ;
    -o-border-radius:160% 110% 70% 90% / 40% 100% 70% 100% ;
}
50%{
    border-radius:30% 120% 100% 60% / 70% 60% 80% 120% ;
    -webkit-border-radius:30% 120% 100% 60% / 70% 60% 80% 120% ;
    -moz-border-radius:30% 120% 100% 60% / 70% 60% 80% 120% ;
    -ms-border-radius:30% 120% 100% 60% / 70% 60% 80% 120% ;
    -o-border-radius:30% 120% 100% 60% / 70% 60% 80% 120% ;
}
60%{
    border-radius:70% 110% 70% 90% / 60% 100% 70% 100% ;
    
}
70%{
    border-radius:60% 90% 60% 80% / 50% 100% 60% 90% ;

}
80%{
    border-radius:90% 80% 60% 100% / 40% 90% 50% 110% ;
   
}
90%{
    border-radius:160% 70% 50% 90% / 30% 80% 40% 100% ;
   
}

}

.leftBackground{
    animation: moveBorder 20s  infinite linear ;
    -webkit-animation: moveBorder 20s  infinite linear ;
}

.aboutMe p{

    color: transparent;
    background-image: linear-gradient(
        to right,
        var(--text-color),
        var(--main-color)
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-clip: text;
}


@keyframes aboutMe {
    0%{
        background-size: 0% 100%;
    }
    100%{
        background-size: 100% 100%;
    }
}

.aboutMe p{
    animation: aboutMe 5s forwards ;
    animation-timeline: view();
    animation-range: contain;
    animation-range-start:10vh;
    animation-range-end: 60vh;
}

.sectionThree{

    height: 92.94%;
    box-sizing: border-box;
    color: var(--text-color);
}
.sectionThree .row .col-3 img{
    width: 100%;
    object-fit: cover;
   
}
.project-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.project-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.5760898109243697) 11%, rgba(162,28,175,1) 100%);
     transform: translateY(100%);
     color: var(--text-color);
 
   
}
.project-box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.project-box:hover .project-content{
    transform: translateY(0%);
    transition: all 0.5s;
}
.project-box:hover img{
    transform: translateY(-100%);
    transition: all 0.5s;
}

